<h1 id="homeh1"><b>Bienvenue sur Eventbrite-Like<b></h1>
<h5 style="color: #FF8C00"><b><i>Le créateur d'événements</i></b></h5>

<div class="container">
  <div class="jumbotron" style="color: white">
    <h1><b>Evénements</b></h1>
    <p><i>Rejoins la communauté pour découvrir tous les événements les plus
       branchés du moments.<br>
       Connecte-toi, crée tes propres événements et invite tes amis à y participer.</i></p>
  </div>
</div>
