<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #FF8C00" id="navheader">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" id="brand"><b>EventbriteLike</b></a>

    <% if logged_in? %>
    <div class="btn-group">
      <ul class="nav navbar-nav navbar-right">
      <a href="/users" class="btn btn-outline" role="button" id="index"><b>Index</b></a>
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown" id="drop">
          <b><%=current_user.name %></b>
          <b class="caret"></b>
        </button>
        <div class="dropdown-menu">
          <li style="color: #FFFFFF!important"><b><%= link_to "Mon Profil", current_user %></b></li>
            <li class="divider"></li>
          <li><b><%= link_to "Se Déconnecter", logout_path, method: :delete %></b></li>
        </div>
      </ul>
    </div>
    <% else %>
      <div class="btn-group">
        <a href="/signup" class="btn btn-outline" role="button" id="sign">S'inscrire</a>
        <a href="/login" class="btn btn-outline" role="button" id="log">Se connecter</a>
      </div>
    <% end %>
  </div>
</nav>
